.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header h3 {
  margin-right: 10px;
  font-weight: bold;
}
.close {
  padding: 8px 16px;
  background-color: red;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  margin-left: auto;
}
.form {
  width: 100%;
}
.type {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.eachInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.label {
  margin-right: 5px;
  font-size: 15px;
  color: darkgoldenrod;
  font-weight: bold;
}
.text {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  padding: 5px;
  width: 300px;
  font-size: 16px;
  transition: 0.5s;
}
.text:focus {
  padding: 6px;
  border-bottom: 2px solid darkgoldenrod;
}
.submit {
  padding: 8px 16px;
  background-color: darkgoldenrod;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
}
