.container {
  display: flex;
  align-items: center;
  width: 100%;
}
.each {
  width: 25%;
  text-align: center;
}
.title {
  font-size: 18px;
  font-weight: 500;
}
.value {
  font-size: 18px;
  font-weight: 500;
}

.green {
  color: rgb(22, 160, 133);
}

.red {
  color: rgb(192, 57, 43);
}
