.item {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 5px;
  margin: 20px 5px 5px;
}

.in {
  background-color: rgb(161, 240, 220);
}

.out {
  background-color: rgb(240, 161, 168);
}

.day {
  margin-right: 20px;
  font-family: Consolas, monospace;
  font-weight: bold;
  font-size: 1.5rem;
}

.body {
  display: flex;
  flex: 7 1 0%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description {
  font-size: 1.1rem;
}

.category {
  font-weight: bold;
  font-size: 1.2rem;
}

.value {
  text-align: right;
  font-family: Consolas, monospace;
  font-size: 1.8rem;
}

.actions {
  margin-left: 10px;
  display: flex;
  flex: 1 1 0%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
